<div class="row">
  <div class="col-lg-6 col-md-7 col-sm-8 mx-auto">
    <h4>投稿編集ページ</h4>

    <%= form_with model: @post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :body, '投稿内容', class: "form-label" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="action">
        <%= f.submit '更新', class: "btn-info" %>
      </div>
    <% end %>
  </div>
</div>


