<div class="row">
  <div class="col-lg-6 col-md-7 col-sm-8 mx-auto">
    <h5>新規投稿</h5>

    <p>今の気持ちや今日の頑張りをつぶやこう！</p>

    <%= form_with model: @post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :body, '投稿内容', class: "form-label" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="action text-center">
        <%= f.submit "投稿", class: "btn btn-info btn-s" %>
      </div>
    <% end %>
  </div>
</div>


