<div class="container mt-5">
  <div class="row">
    <div class="col mx-auto">
      <h4 class="text-center"><strong>サイトについて</strong></h4>
      <p class="text-center mt-3 pc-only">
        ヨガの仲間とつながりながら継続してヨガを行い<br>
        リラックスやストレス解消、ダイエットなどを目的とした<br>
        SNSと体調管理が一緒になったアプリです。
      </p>

      <p class="text-center mt-3 sp-only">
        ヨガの仲間とつながりながら継続してヨガを行い<br>
        リラックスやストレス解消、<br>
        ダイエットなどを目的とした<br>
        SNSと体調管理が一緒になったアプリです。
      </p>
    </div>
  </div>


  <h5 class="text-center mt-4"><strong>仲間とコミュニケーションがとれる</strong></h5>
  <div class="row mx-auto">
    <div class="offset-md-2 col-md-4 mt-3">
      <%= image_tag 'post_index.png', class: 'img-fluid' %>
    </div>

    <div class="col-md mt-4">
      <p class="text-center">
        自分の毎日の記録や共有したい動画など仲間と情報共有ができます。<br>
        相互フォローしているとDMでメッセージを送り合うこともできます！
      </p>
    </div>
  </div>

  <h5 class="text-center mt-5"><strong>毎日の記録で体調管理をしよう</strong></h5>
  <div class="row mt-3">
    <div class="col-md mr-1 p-5"><%= image_tag 'graph.png', class: 'img-fluid' %></div>
    <div class="col-md ml-1 p-5"><%= image_tag 'calendar.png', class: 'img-fluid' %></div>
  </div>

  <p class="mt-3 text-center pc-only">
    体重や体温、ヨガ実践有無を記録するとグラフとカレンダーが更新されます。<br>
    その他に今日のメモや食事などの項目もあり、気軽に毎日の記録を残すことができます。
  </p>

  <p class="mt-3 text-center sp-only">
    体重や体温、ヨガ実践有無を記録するとグラフとカレンダーが更新されます。<br>
    その他に今日のメモや食事などの項目もあり、<br>
    気軽に毎日の記録を残すことができます。
  </p>

  <div class="mt-4 text-center">
    <% if user_signed_in? %>
      <span></span>
    <% else %>
      <strong>さっそく始める！ <i class="fas fa-hand-point-right"></i> <%= link_to 'サインアップ', new_user_registration_path %></strong>
    <% end %>
  </div>
</div>

