<div class="row">
  <div class="col-lg-6 col-md-10 col-sm-11 mx-auto">
    <h4>サイトの説明</h4>
    <h4>心と体をつなぎ、仲間とつながる</h4>

    <p class="text-center">ヨガ仲間</p>
    <div class="container text-center">
      <%= image_tag 'post_index.png', :size => '400x300' %>
    </div>

    <p>体調管理</p>
      <div class="container text-center">
        <%= image_tag 'log_new.png', :size => '400x300' %>
        <%= image_tag 'log_index(1).png', :size => '400x300' %>
        <%= image_tag 'log_index(2).png', :size => '400x300' %>
      </div>

    <p>タイムライン</p>
  </div>
</div>

