<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-11 mx-auto">
      <h4 class="text-center">サイトについて</h4>
      <p class="text-center">
        当サイトは、ヨガの仲間とつながりながら継続してヨガを行い<br>
        リラックスやストレス解消、ダイエットなどを目的としたSNSと体調管理が<br>
        一緒になったアプリです。
      </p>

      <h5 class="text-center mt-5">ヨガ仲間とコミュニケーションがとれる</h5>
      <div class="container d-flex mt-3">
        <div>
          <%= image_tag 'post_index.png', :size => '250x200' %>
        </div>

        <div class="pl-5">
          <p>
            自分の毎日の記録や共有したい動画など仲間と情報共有ができます。<br>
            相互フォローしているとDMでメッセージを送り合うこともできます！
          </p>
        </div>
      </div>

      <h5 class="text-center mt-5">毎日の記録で体調管理をしよう</h5>
        <div class="container text-center d-flex mt-3">
          <div class="mr-1"><%= image_tag 'graph.png', :size => '300x250' %></div>
          <div class="ml-1"><%= image_tag 'calendar.png', :size => '300x250' %></div>
        </div>

        <p class="mt-3">
          体重や体温、ヨガ実践有無を記録するとグラフとカレンダーが更新されます。<br>
          その他に今日のメモや食事などの項目もあり、気軽に毎日の記録を残すことができます。
        </p>

      <div class="mt-4 text-center">
        <% if user_signed_in? %>
          <span></span>
        <% else %>
          <strong>さっそく始める！ <i class="fas fa-hand-point-right"></i> <%= link_to 'サインアップ', new_user_registration_path %></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>
