<div class="container text-center">
  <%= image_tag 'morning_yoga.png', class: "main-image" %>
</div>


<div class="row mx-auto">
  <div class="col mx-auto">
    <h4 class="text-center mt-5">心も体もヨガで癒やそう</h4>

    <div class="text-center mt-3">
      <h5>ヨガとは</h5>
      <p>
        「ヨガ」とはサンスクリット語で「つながり」を意味しています。<br>
        心と体、魂がつながっている状態のことを表し、呼吸、姿勢、瞑想を組み合わせて<br>
        心身の緊張をほぐし、心の安定とやすらぎを得るものです。<br>
        具体的には「調和」「統一」「バランス」を意味し、体・心・呼吸・食べ物など、<br>
        あらゆるカテゴリーと関係しています。
      </p>
    </div>

    <div class="text-right mr-5 pr-5">
      <%= image_tag 'sunset_yoga.png', :size => '250x150' %>
    </div>

    <div class="ml-5 pl-5">
      <h5 class="pl-5">こんな人におすすめ</h5>
      <ul class="list">
        <li>忙しくてストレスフルな人</li>
        <li>自分を見つめ直す時間がほしい人</li>
        <li>リラックスしたい人</li>
        <li>寝付きの悪い人</li>
        <li>冷えやだるさ、肩こり、むくみを解消したい人</li>
        <li>キレイな体作りがしたい人</li>
      </ul>
    </div>


    <h6 class="text-center">
      ヨガは実践してすぐに効果がでるものではありません！<br>
      長期間続けるためにも、仲間達とともに楽しくヨガを実践していきましょう！
    </h6>


</div>
