<div class="row">
  <h3>心と体をつなぎ、仲間とつながる</h3>
</div>

<div class="row">
  <div class="col-lg-6 col-md-10 col-sm-11 mx-auto">
    <h2>心も体もヨガで癒やそう</h2>
    
    <div>
      <h5>ヨガをする目的</h5>
      <p>
        「ヨガ」とはサンスクリット語で「つながり」を意味しています。<br>
        心と体、魂がつながっている状態のことを表し、呼吸、姿勢、瞑想を組み合わせて<br>
        心身の緊張をほぐし、心の安定とやすらぎを得るものです。
        具体的には「調和」「統一」「バランス」を意味し、体・心・呼吸・食べ物など、<br>
        あらゆるカテゴリーと関係しています。
      </p>
    </div>
    
    <div>
      <h5>こんな人におすすめ</h5>
      <ul>
        <li>忙しくてストレスフルな人</li>
        <li>自分を見つめ直す時間がほしい人</li>
        <li>リラックスしたい人</li>
        <li>寝付きの悪い人</li>
        <li>冷えやだるさ、肩こり、むくみを解消したい人</li>
        <li>キレイな体作りがしたい人</li>
      </ul>
    </div>
    
    
    <p>
      ヨガは実践してすぐに効果がでるものではありません！<br>
      長期間続けるためにも、仲間達とともに楽しくヨガを実践していきましょう！
    </p>
  </div>
  
  
</div>
