<%= month_calendar(events: @health_logs) do |date, health_logs| %>
  <%= date %>

  <% health_logs.each do |health_log| %>
    <div>
      <% if health_log.is_active == true %>
        <strong>○</strong>
      <% end %>
    </div>
  <% end %>
<% end %>



