<div class="row">
  <div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
    <h5 class="text-center">投稿方法について</h5>

    <div class="mt-4">
      <strong>・新規登録について</strong><br>
      <span>
        画面上部にある<strong>投稿する</strong>を押す　→　投稿したい内容を入力(※)<br>
        →　<strong>投稿</strong>ボタンを押す
      </span>
      <p class="mt-3">
        ※誰かを誹謗中傷するような内容や下ネタなどの投稿はやめてください。 <br>
        　毎日が楽しくなるような、気持ちが明るくなるような投稿をしましょう！
        　おすすめのヨガを紹介するのも良いですね！！
      </p>
    </div>

    <div class="mt-4">
      <strong>・投稿の検索について</strong><br>
      <span>同じようなヨガをしている人や同じ悩みを抱えている人の投稿を検索しましょう！</span><br>
      <span>
        画面上部にある<strong><i class="fas fa-search"></i></strong>を押す<br>
        →　入力フォームに検索ワードを入力する（「リラックス」「肩こり」「骨盤」「ダイエット」など）<br>
        →　<strong>検索</strong>ボタンを押す
      </span>
    </div>

  </div>
</div>
