/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

/* 992pxより小さい画面の時の指定（今回はハンバーガーメニューになる時のpx） */
@media (max-width: 992px) {
 .nav-item{
  background-color: #ffeeff;
 }
 button{
  text-align: left;
 }
 logo{
  text-align: center;
 }
}

$main-color: #d0b0ff;

header{
 background-color: $main-color;
}


body{
 color: #808080;
}

.btn-s{
 font-size: 8%;
}

p{
 font-size: 30%;
}

.menu{
 background-color: $main-color;
 text-align: center;
 border: none;
 border-radius: 10% 5%;
}
