<table class="table">
  <% users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-pill" %>
          <% end %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= render 'public/relationships/follow', user: user %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
