<div class="row">
  <div class="col-lg-6 col-md-7 col-sm-8 mx-auto">

    <% if @user == current_user %>
      <h4>マイページ</h4>
    <% else %>
      <h4><%= @user.name %>さんの投稿</h4>
    <% end %>
    
    <div>
      
    </div>

    <%= render 'public/posts/post_index', posts: @user.posts %>

  </div>
</div>